@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Outfit:wght@100..900&family=Playwrite+DK+Loopet:wght@100..400&display=swap");
* {
  font-family: "Outfit", sans-serif;
}
